* body {
    padding: 0;
    box-sizing: border-box;
    background-image: url(./imagenes/FONDO.png);
    background-size: 100%;
  }
  
  /*PORTADA*/
  
 
 

  
  
  
.portada{
  width: 100%;
}
  
  /*CUENTA REGRESIVA*/
  
  @media (max-width: 730px) {
    
    .cuenta-regresiva {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 1em;
      padding: 0.8em;
      margin-top: 10%;
      
  }
  .cr-time > span {
      font-size: 18px;
      font-weight: bold;
      color: #4a6280;
      
  }
  .cr-desc {
      color: #3f3f3f;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 15px;
      font-weight: 700;
      
  }
  .cr-block {
      background: #e3e3e347;
      border-radius: 5px;
      padding: 0.1em 0.5em;
      background-size: 80%;
  }
  .Play{
  
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 2%;
    color: #545454;
    font-weight: 700;
   
   }
    h5{
    font-size: 15px;
    text-align: center;
    margin-top: -5%;
    
    
    }
    .audio{
      width: 35%;
      height: 20px;
      margin-left: 32%;
      background-color:  #ffffff;
      margin-top: -10%;
      
  }



  .segundo{
width: 17%;
margin-top: -25%;
margin-left: 68%;
  }

  .loader {
    position: relative;
    width: 31px;
    height: 32px;
    perspective: 67px;
    margin-left: 71%;
    margin-top: -25%;
  }
  
  .loader div {
    width: 100%;
    height: 100%;
    background: #ffffffab;
    position: absolute;
    left: 50%;
    transform-origin: left;
    animation: loader 2s infinite;
  }
  
  .loader div:nth-child(1) {
    animation-delay: 0.15s;
  }
  
  .loader div:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .loader div:nth-child(3) {
    animation-delay: 0.45s;
  }
  
  .loader div:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  .loader div:nth-child(5) {
    animation-delay: 0.75s;
  }
  
  @keyframes loader {
    0% {
      transform: rotateY(0deg);
    }
  
    50%, 80% {
      transform: rotateY(-180deg);
    }
  
    90%, 100% {
      opacity: 0;
      transform: rotateY(-180deg);
    }
  }
  .Frase_inicio{
    text-align: center;
    font-family: 'Alex Brush', cursive;
         font-size: 31px;
         color: #5b5a5a;
         margin-top: 30%; 
  }
  .galeria{
    width: 8%;
    margin-left: 46%;
    margin-top: 10%;
  }
  .carousel-inner img{
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
  }
  .mari_azul{
    width: 10%;
    margin-left: 45%;
  }
  .almanaque{
    width: 65%;
    margin-left: 18%;
    margin-top: 14%;
  }
.fondo{
  width: 100%;
  margin-top: 20%;
}
.fondo2{
  width: 100%;

}

.parrafo1{
  margin: 15%;
    text-align: center;
    color:#748DB6;
    font-size: 224%;
    font-family: 'Great Vibes', cursive;
}
.fran{
  width: 30%;
  margin-top: -4%;
}

.copas{
  width: 20%;
  margin-left: 41%;
  margin-top: -25%;
}
.whatsap{
  width: 20%;
  margin-left: 40%;
  margin-top: -10%;
}
.gif{
  width: 10%;
  margin-top: -51%;
  margin-left: 62%;
}
.linea{
  color:#646464;
  width: 70%;
 margin-left: 15%;
}
.linea2{
  color:#646464;
  width: 70%;
 margin-left: 15%;
}

.parrafo2{
  margin: 16%;
    text-align: center;
    color: #575757;
    font-size: 26px;
    font-family: 'Great Vibes', cursive;
}

.clik {
  margin-left: 36%;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #374a65;
  overflow: hidden;
  border: 2px rgb(185, 101, 193);
  background-image: url(./imagenes/brillo.gif);
  background-size: 120%;
  color: rgb(255, 255, 255);
}
.contenedor-mapa{
margin-top: -10%;
justify-content: center;
}
.boton{
  margin-top: -5%;
}
.gifmariposa{
  width: 12%;
  margin-left: 50%;
  margin-top: -39%;
}
.parrafo3{
  margin: 16%;
    text-align: center;
    color: #575757;
    font-size: 26px;
    font-family: 'Great Vibes', cursive;
    margin-top: 15%;
}
.parrafo03{
  margin: 16%;
    text-align: center;
    color: #575757;
    font-size: 26px;
    font-family: 'Great Vibes', cursive;
    margin-top: -15%;
}
.parrafo4{
  margin: 16%;
    text-align: center;
    color:#4d5e70 ;
    font-size: 26px;
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    margin-top: 4%;
}

.parrafo5{
  margin: 15%;
    text-align: center;
    color:#748DB6;
    font-size: 224%;
    font-family: 'Great Vibes', cursive;
}


.parrafo6{
  margin: 16%;
    text-align: center;
    color: #575757;
    font-size: 26px;
    font-family: 'Great Vibes', cursive;
    margin-top: -5%;
}
.regalo{
  width: 8%;
  margin-left: 47%;
  margin-top: -19%;
}
.parrafoD{
  text-align: center;
  font-family: "Alegreya", serif; 
     font-size: 17px;
     color: #4d4c4c;
     margin-top: 5%;
     letter-spacing: 2px;
}
.primary{
  margin-left: 36%;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #B4C2D7;
  overflow: hidden;
  border: 2px rgb(215, 135, 222);
  color: rgb(255, 255, 255);
}

.esperamos{
  margin: 16%;
  text-align: center;
  color: #575757;
  font-size: 40px;
  font-family: 'Great Vibes', cursive;
  margin-top: 25%;
}
.Tizi{
  width: 50%;
  margin-left: 25%;
  margin-top: -12%;
}
.corazon{
  width: 8%;
  margin-left: 48%;
  margin-top: -90%;
}
.grises{
  width: 28%;
  margin-left: 33%;
  margin-top: -100%;
  }
}
  
 




.tecla {
margin-top: 40%;
 margin-left: 50%;
}

.box__copyright{
  margin-top: 32%;
}


.box__copyright p {
  margin-top: -10px;
  color: #cacaca;
  font-size: 10px;
  text-align: center;
}

.box__copyright a {
  text-decoration: none;
  color: #c3c3c3;
}


.box__copyright p {
  margin-top: -10px;
  color: #cacaca;
  font-size: 10px;
  text-align: center;
}

.box__copyright a {
  text-decoration: none;
  color: #c3c3c3;
}




.linea4{
    
  color: #838383;
}
.tecla a {
  text-decoration: none;
  width: 30px;
  color: rgb(132, 132, 132);

}

.tecla {
margin-top: -3%;
 margin-left: 50%;
}


.logo{
  width: 30%;
  margin-left: 55%;
  margin-top: -25%;
}


@media screen and (min-width: 1024px){
  .cuenta-regresiva {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1em;
    padding: 0.8em;
    margin-top: 1%;
}
.cr-time > span {
    font-size: 20px;
    font-weight: bold;
    color: #606060;
    
}
.cr-desc {
    color: rgb(125, 125, 125);
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
    
}
.cr-block {
    background: #c9c9c92e;
    border-radius: 5px;
    padding: 0.1em 0.5em;
    background-size: 80%;
}
.Play{

  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
  color: #6e6c6e;
 
 }
  h5{
  font-size: 30px;
  text-align: center;
  margin-top: -10%;
  
  
  }
  .audio{
    width: 35%;
    height: 20px;
    margin-left: 32%;
    background-color:  #ffffff;
    color: #4e4e4e;
    margin-top: 5%;
    
}

.segundo{
width: 17%;
margin-top: -29%;
margin-left: 68%;
}


.copas{
width: 15%;
margin-top: 10%;
margin-left: 43%;
}
.parrafo1{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
     font-size: 30px;
     color: #888888;
     margin-top: 5%;  
}

.linea{
  color:#212121;
  width: 70%;
 margin-left: 15%;
}
.parrafo2{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
     font-size: 25px;
     color: #5c5c5c;
     line-height: 30px;
     margin-top: 5%;

}

.css-button-arrow--sand {
  padding: 2px 9px;
  font-size: 25px;
  font-weight: 1200;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #292929;
  border-radius: 7px;
  box-shadow: 2px 2px 30px -5px rgb(170, 170, 170);
  cursor: pointer;
  margin-top: 8%;
  background-size: 50%;
  font-family: 'Julius Sans One', sans-serif;
  
}

.linea2{
  color:#212121;
  width: 70%;
 margin-left: 15%;
 margin-top: 8%;
}

.parrafo3{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
     font-size: 30px;
     color: #888888;
     margin-top: 5%;  
     margin-top: 15%;
}

.click_2 {
  padding: 4px 9px;
  font-size: 25px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #292929;
  border-radius: 7px;
  box-shadow: 2px 2px 30px -5px rgb(170, 170, 170);
  cursor: pointer;
  background-size: 50%;
  font-family: 'Julius Sans One', sans-serif;
  text-decoration: none;
  
}
.boton2 {
  text-align: center;
 margin-top: 8%;
}
.parrafo4{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
     font-size: 30px;
     color: #888888;  
     margin-top: 15%;
}


.boton3{
  padding: 4px 9px;
  font-size: 25px;
  font-weight: 1200;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #292929;
  border-radius: 7px;
  box-shadow: 2px 2px 30px -5px rgb(170, 170, 170);
  cursor: pointer;
  background-size: 50%;
  font-family: 'Julius Sans One', sans-serif;
  text-decoration: none;
  margin-top: 8%;
  
}
.contenedor-regalo{
  text-align: center;
}
.contenedor-mapa{
  display: flex;
justify-content: center;
align-items: center;
}
.collapse p{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
     font-size: 20px;
     color: #ffffff;
     background-color: #484848;
     margin-top: 5%;
     margin: 4px;
     padding: 2%;
     background-image: url(./imagenes/gif.gif);
      

}
.linea3{
  color:#212121;
  width: 70%;
 margin-left: 15%;
 margin-top: 10%;
}

.linea4{
  color:#212121;
  width: 70%;
 margin-left: 15%;
 margin-top: 8%;
}
.center {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 1px;
  height: 15px;
  background: linear-gradient(45deg, rgb(85, 85, 85), #fff);
  margin: 5px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
  margin-top: 5%;
 
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.wave:nth-child(7) {
  animation-delay: 0.6s;
}

.wave:nth-child(8) {
  animation-delay: 0.7s;
}

.wave:nth-child(9) {
  animation-delay: 0.8s;
}

.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.esperamos{
text-align: center;
font-family: 'Julius Sans One', sans-serif;
   font-size: 30px;
   color: #888888;  
   margin-top: 20%;
   
} 
.caricatura{
  width: 25%;
  margin-top: 5%;
 margin-left: 38%;
}
.nombres{
width: 35%;
margin-left:32%;
margin-top: -15%;

}












.tecla {
margin-top: -50%;
margin-left: 50%;
}

.box__copyright{
margin-top: 32%;
}


.box__copyright p {
margin-top: -10px;
color: #cacaca;
font-size: 10px;
text-align: center;
}

.box__copyright a {
text-decoration: none;
color: #c3c3c3;
}


.box__copyright p {
margin-top: -10px;
color: #cacaca;
font-size: 15px;
text-align: center;
}

.box__copyright a {
text-decoration: none;
color: #c3c3c3;
}




.linea4{
  
color: #838383;
}
.tecla a {
text-decoration: none;
width: 35px;
color: rgb(132, 132, 132);

}

.tecla {
margin-top: -3%;
margin-left: 50%;
}


.logo{
width: 15%;
margin-left: 55%;
margin-top: 10%;
}
  
.portada{
  width: 50%;
  margin-left: 25%;
}
}